@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */
    background-color: #e7e6e6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    min-width: 320px;
    max-width: 1024px;

    width: 100%;

    /* margin: 0 auto; */
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    /* place-items: center; */
    min-height: 100vh;
    color: #272525;
    width: 100vw;

    display: flex;
    justify-content: center;

    /* border: 1px solid red; */

}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h2 {
    font-size: 2.4em;
    line-height: 1.1;
}

h3 {
    font-size: 1.8em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid gray;
    padding: .6em;
    margin: .2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #545252;
    cursor: pointer;
    transition: border-color 0.25s;
    color: rgb(45, 44, 44)
}

button:hover {
    border-color: #646cff;
    background-color: #a7acff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.message_box {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    min-height: 100vh;
    padding: 0 1em;
    overflow: scroll;
    scrollbar-3dlight-color: #535bf2;
    overflow-x: hidden;

}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(218, 218, 218);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(109, 109, 109);
    border-radius: 20px;
    /* border: 3px solid orange; */
}


.chat-container {
    display: flex;
    flex-direction: column;
}

.chat-header {
    /* background-color: #4caf50; */
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

.chat-messages {
    /* flex-grow: 1; */
    /* overflow-x: hidden; */
    padding: 10px 0 10px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.chat-messages>div {
    overflow-y: auto;
    margin-bottom: 10px;
    /* border: 1px solid red; */
    height: calc(100vh - 170px);
    overflow-x: hidden;
}

.chat-input {
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    padding: 10px;
    background-color: #96adc8;
    display: flex;
    border-top: 1px solid #98cbfa;
}

#message-form {
    display: flex;
    justify-content: space-between;
}

#message {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #e7e6e6;
}

.new-messages-overlay {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5;
    margin: 10px;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;*/
    width: 99%;
    /* border: 1px solid green; */
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.login-container>div {
    margin: auto;
    flex-direction: column;
    /* width: 500px; */
}

.login-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.login-container label {
    display: inline-block;
    font-weight: bold;
    width: 100px;
}

.login-container input {
    width: 200px;

}

.login-container button {
    width: 200px;

}

.login-container div:last-child {
    /* margin: auto; */
    /* justify-content: center; */
    /* border: 1px solid rebeccapurple; */
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    background-color: #96adc8;
}

/* .login_box {
    margin: auto;

    max-width: 640px;

} */

.support-container {
    display: flex;
    flex-direction: row;

    /* overflow-x: hidden; */

}

.support-container>div {
    width: 100%;
    padding: 0 10px;
}

.support-container .chat-container {
    /* height: calc(100vh - 100px); */
}


@media (prefers-color-scheme: light) {
    #root {
        /* color: #213547; */
        background-color: #ffffff;

        border: 1px solid blueviolet;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #3b3636;
    }
}